<span class="articleinfo">
    <span class="postedin">
        Filed under <a href="{{ SITEURL }}/{{article.category.url}}" class="p-category">{{article.category}}</a>
    </span>
&#183; 
    <a class="permalink u-url" href="{{ SITEURL }}/{{ article.cooluri }}">
        Permalink
    </a>
</span>
<br/>
{% if article.tags %} 
<span class="articleinfo">
    <span class="postedwith">
        Tagged with {% for tag in article.tags: %}
        <a href="{{ SITEURL }}/{{ tag.url }}" class="p-category">{{tag}}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </span>
</span>
{% endif %}
{% include 'includes/comment_count.html' %}
