{% extends "blog.html" %}
{% block content %}
    {% block article_list_title %}{% endblock %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <header class="page-header">
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    {% include 'includes/article_info_head.html' %}
                    {% endif %}
                    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                </header>
                <div class="summary">
                    {{ article.summary }}
                </div>
                <p><a href="{{ SITEURL }}/{{ article.url}}">Read more →</a></p> 
                <footer>
                    {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    {% include 'includes/article_info_foot.html' %}
                    {% endif %}
                </footer>
            </article>
        {% endfor %}
    {% endif %}
    {% include 'includes/pagination.html' %}
{% endblock content %}
